/*Declare Fonts Here*/
@font-face {font-family: "Neuropolitical"; src: url('Fonts/neuropolitical.tff');}
@font-face
{
  font-family: "Monaco";
  src: url('Fonts/Monaco.tff') format('truetype');
  src: url('Fonts/Monaco.woff') format('woff');
}

*
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body
{
  background: rgba(134, 145, 172, 1);
}

header
{
  font-family: "Monaco", Arial;
  margin-top: 45px;
  //background: oldlace;
}

footer
{
  background: green;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1
{
  color: Silver;
  font-size: 200%;
  text-align:center;
  margin-bottom: 150px;
}

h2
{
  color: Silver;
  font-size: 100%;
  text-align: center;
}

h3
{
    text-align: center;
}

/* Make the list items float to the left */
/* Style each element of the list */
ul.tab li
{ float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

div.title_block
{
  display: inline-block;
  background-color: cornflowerblue;
  font-size: 30px;
  width: 100%;
  padding-bottom: 650px;
}

div.info
{
  display: inline-block;
  background: bisque;
  font-size: 30px;
  width: 73.5%;
}

div.portfolio
{
  //background: aliceblue;
  font-size: 30px;
  width: 100%;
}

div.contact
{
  background: oldlace;
  font-size: 30px;
  width: 100%;
}

div.bar
{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

div.resume
{
  text-align: center;
}

div.resume a:hover
{
  background-color: black;
}


img
{
  vertical-align: top;
  display: inline-block;
}

/* Modal Information */
/*Background*/
.modal
{
  display: none; /*Keep hidden by default*/
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index = 1; /* Make sure the box is front of everything*/
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: rgba(0,0,0,0.5); /*Black with opacity*/
}

.modal-content
{
  position: relative;
  left: 30%;
  top: 20%;
  width: 40%;
  height: 20%;
  margin: 30px 30px;
  padding: 0px;
  border: 1px solid #888;
  background-color: purple;
  font-family: Oswald;
}

.modal-header
{
  padding: 10px 16px;
  background-color: pink;
  color: black;
}

/* Modal Content */
.modal-body
{
  background-color:#fefefe;
  margin: 0px;
  padding: 20px;
}



/* Style the list */

ul.bigtab
{
  height: 20%;
  list-style-type: none;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgba(50, 53, 54, .9);
}

/* Make the list items float to the left */
ul.bigtab li
{
  float: left;
  display: inline-block;
  margin: 5px;
  padding: 5px 18px;
}

/* Style each element of the list */
ul.bigtab li a
{
  color: #CED8DB;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: Calibri;
  transition: 0.7s;
}

/* Change background color of links on hover */
ul.bigtab li a:hover
{  background-color: #4E5152;}
/* Change background color of links on focus */
ul.bigtab li a:focus, .active {background-color: #ccc};

/*Change backgound color when not in focus. NEEDS FIXING*/
ul.bigtab li a:focus, .inactive {background-color: #f1f1f1};
